/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

 .kkiapay-section .heading {
    background: url("images/kkiapay_logo.png") no-repeat 0 50% / 18rem auto; 
    padding-left: 20rem;
  }
 .kkiapay-section .button-container {float: right;}
 .kkiapay-section .config-alt {
     background: url("images/kkiapay_logo.png") no-repeat scroll 0 0 / 100% auto;
     height: 30px;
     margin: 0.5rem 0 0;
     width: 320px;
 }
 .kkiapay-credentials-success-message { background: none; margin: 0; }
 